<md-input-container>
    <label>Name</label>
    <input ng-model="$parent.student.stu_name" required>
</md-input-container>
<div layout-gt-xs="row">
    <div flex-gt-xs>
        <h4>Date of Birth </h4>
        <md-datepicker ng-model="$parent.student.stu_dob" md-placeholder="mm-dd-yyyy"></md-datepicker>
    </div>

    <div flex-gt-xs>
        <h4>Date of Join School </h4>
        <md-datepicker ng-model="$parent.student.stu_joinschool" md-placeholder="mm-dd-yyyy"></md-datepicker>
    </div>
</div>

<div>
    <md-input-container>
        <label>Phone</label>
        <input ng-model="$parent.student.stu_phone" required>
    </md-input-container>

    <md-input-container>
        <label>Email</label>
        <input ng-model="$parent.student.stu_email">
    </md-input-container>
</div>

<div>
    <md-input-container>
        <label>Address</label>
        <input ng-model="$parent.student.stu_address">
    </md-input-container>
</div>
<div>
    <md-input-container style="margin-right: 10px;">
        <label> Belt Rank</label>
        <md-select ng-model="$parent.student.stu_current_rank">
            <md-option ng-repeat="rank in ranks" ng-value="rank.rank_num">{{rank.rank_name}}</md-option>
        </md-select>
    </md-input-container>
</div>

<div>

    <div class="checkbox">
        <label><input type="checkbox" ng-model="$parent.student.stu_is_student">Is Student</label>
    </div>
    <div ng-show="$parent.student.stu_is_student">
        <md-input-container style="margin-right: 10px;">
            <label> parents</label>
            <md-select ng-model="$parent.student.stu_father_num">
                <md-option ng-repeat="parent in parents" ng-value="parent.stu_num">{{parent.stu_name}} - {{parent.stu_phone}}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" ng-model="$parent.student.stu_is_active"> Is Active</label>
    </div>
</div>