<div class="container">
    <div class="text-center">
        <h2>Students</h2>
        <div class="row">
            <div class="col-md-offset-10 col-md-2">
                <a ui-sref="newStudent">Add New Student</a>
            </div>
        </div>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>student number</th>
                    <th>name</th>
                    <th>DOB</th>
                    <th>join date</th>
                    <th>phone</th>
                    <th>email</th>
                    <!--<th>address</th>-->
                    <th>student?</th>
                    <th>active?</th>
                    <th>rank</th>
                    <th>info</th>
                    <th>delete</th>
                </tr>
            </thead>
            <tbody >
                <tr ng-repeat="stu in students">
                    <td>{{stu.stu_num}}</td>
                    <td>{{stu.stu_name}}</td>
                    <td>{{stu.stu_dob.substr(0, 10)}}</td>
                    <td>{{stu.stu_joinschool.substr(0, 10)}}</td>
                    <td>{{stu.stu_phone}}</td>
                    <td>{{stu.stu_email}}</td>
                    <!--<td>{{stu.stu_address}}</td>-->
                    <td>
                        <div ng-if="stu.stu_is_student">
                            <div class="glyphicon glyphicon-ok"></div>
                        </div>
                        <div ng-if="!stu.stu_is_student">
                            <div class="glyphicon glyphicon-remove"></div>
                        </div>
                    </td>
                    <td>
                        <div ng-if="stu.stu_is_active">
                            <div class="glyphicon glyphicon-ok"></div>
                        </div>
                        <div ng-if="!stu.stu_is_active">
                            <div class="glyphicon glyphicon-remove"></div>
                        </div>
                    </td>
                    <td>{{stu.rank_name}}</td>
                    <td><a ui-sref="viewStudent({id:stu.stu_num})">info<div class="glyphicon glyphicon-info-sign"/></a></td>
                    <td><button class="btn btn-danger" ng-click="delete(stu.stu_num)">del</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>